<app-slide></app-slide>
<div class="content">
  <div id="div-about-us">
    <div id="divisor-about-us">
        <p id="about-us-text">Sobre nosotros</p>
    </div>
  </div>
  <ng-template *ngIf="loggedIn; then thenBlock else elseBlock"></ng-template>
  <ng-template #thenBlock>
    <ng-template *ngIf="formu; then thenBlock2"></ng-template>
    <ng-template #thenBlock2>
      <p class="last-change" *ngIf="last_change_time">{{last_change_time}}</p>
      <form [formGroup]="formu" id="about-us-info">
        <textarea appInputListener (onInput)="onInputText($event)"
        formControlName="about"
        appInputOnlyListener (onInputOnly)="sendInfo($event)"
        class="text-area-we-info"></textarea>
      </form>
    </ng-template>
  </ng-template>
  <ng-template #elseBlock>
    <div id="about-us-info">
      <pre class="about-us-info-text">{{info.about_us}}</pre>
    </div>
  </ng-template>
  <div id="div-google-maps">
    <div id="divisor-google-maps">
        <p class="google-maps-text">Google maps</p>
    </div>
  </div>
  <div id="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.575590405332!2d-76.29673858459701!3d3.9007226973914766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e375fbc009126f9%3A0x29e0666365150656!2sHOTEL%20ZULEVAR!5e0!3m2!1sen!2sco!4v1630197813990!5m2!1sen!2sco" width=100% height=400vw style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>