<div class="content">
  <div class="div-our-instalations">
      <div class="our-instalations">
          <p class="our-instalations-text">Confirmacion de reserva</p>
      </div>
  </div>

  <div class="details-block">
      <div class=row>
          <div class="column align">
              <p class="details-title margin-left">Detalles de reserva</p>
              <p class="details-text margin-left">Día de llegada:<br>{{info.dateIn}}</p>
              <p class="details-text margin-left">Día de salida:<br>{{info.dateOut}}</p>
          </div>
          <div class="column align">
              <p class="details-text-space"></p>
              <p class="details-text">Cantidad de adultos<br>{{info.adults}}</p>
              <p class="details-text">Cantidad de niños<br>{{info.children}}</p>
          </div>
          <div class="div-line-vertical"> </div>
          <div class="column align">
              <p class="details-text">Habitación: {{info.roomName}}<br><br>
                  Costo: {{info.cost}}<br>
                  <span *ngIf="info.pack">Plan: {{info.pack}}</span>
              </p>
              <div class="div-line-horizontal"> </div>
              <div class=row>
                  <div class="column">
                      <p class="details-text">TOTAL:</p>
                  </div>
                  <div class="column">
                      <p class="details-text">{{info.cost}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <form class="personal-info-block" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
          <p class="personal-info-row">Informacion personal</p>
      </div>
      <div class="row form-compact">
          <div class="column" style="align-items: center;">
              <div class="column personal-info-content">
                  <label class="personal-info-label" for="name">Nombre:</label>
                  <input class="personal-info-input" type="text" id="name" placeholder="nombre" formControlName="name">
                  <label class="personal-info-label" for="email">Email:</label>
                  <input class="personal-info-input" type="text" id="email" placeholder="email" formControlName="email">
                  <label class="personal-info-label" for="country">Pais de residencia:</label>
                  <input class="personal-info-input" type="text" id="country" placeholder="pais de residencia" formControlName="country">
                  <label class="personal-info-label" for="address">Dirección:</label>
                  <input class="personal-info-input" type="text" id="address" placeholder="dirección" formControlName="address">
              </div>
          </div>
          <div class="column" style="align-items: center; justify-content: start;">
              <div class="column personal-info-content">
                  <label class="personal-info-label" for="lastName">Apellido:</label>
                  <input class="personal-info-input" type="text" id="lastName" placeholder="apellido" formControlName="last_name">
                  <label class="personal-info-label" for="tel">Telefono:</label>
                  <input class="personal-info-input" type="text" id="tel" placeholder="telefono" formControlName="tel">
                  <label class="personal-info-label" for="city">Ciudad de residencia:</label>
                  <input class="personal-info-input" type="text" id="city" placeholder="ciudad de residencia" formControlName="city">
              </div>
          </div>
      </div>
      <div class="row personal-info-row">
          <input class="personal-info-submit" type="submit" value="IR A PAGAR" [disabled]="form.invalid">
      </div>
  </form>

</div>