
<div id="container">
    <div id="div-login">
        <div id="div-logo">
            <figure id="logo">
                <a href="">
                    <img id="logo-img" src="assets/images/logo.png" alt="Logo Hotel Zulevar" style="width: 100%; height: auto;">
                </a>
                <figcaption></figcaption>
            </figure>
        </div>
        <div id="div-login-info">
            <button id="accept-button" (click)="signInWithGoogle()">Iniciar sesión</button>
        </div>
    </div>
</div>