#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: url(/assets/images/background.jpg) no-repeat;
  /* background-color: #003f63; */
  max-width: 4000px;
  background-size: cover;
  min-height: 100%;
  margin: -0.5em;
  width: 100vw;
  height: 100vh;
}

#div-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  background: rgb(255, 255, 255, 0.6);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

#div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  align-self: center;
  justify-self: center;
  width: 50%;
}

#div-login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#accept-button {
  background: #003f63;
  width: 40%;
  height: 1.8em;
  color: white;
  text-align: center;
  font-family: Roboto Condensed;
  font-style: normal;
  font-size: 1.5vw;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  margin: 5%;
}

#accept-button:hover {
  background-color: #003f63de;
  -webkit-box-shadow: -1px 4px 15px -3px #000000;
  box-shadow: -1px 4px 15px -3px #000000;
}

#accept-button:active {
  background-color: #005383de;
  -webkit-box-shadow: -1px 4px 8px -3px #000000;
  box-shadow: -1px 4px 8px -3px #000000;
}