<div class="content">
    <div class="div-our-instalations">
        <div class="our-instalations">
            <p class="our-instalations-text">Paquetes turísticos</p>
        </div>
    </div>

    <ng-template *ngIf="loggedIn; then thenBlock else elseBlock"></ng-template>

    <ng-template #thenBlock>
        <ng-template *ngIf="formu; then thenBlock2"></ng-template>
        <ng-template #thenBlock2>
            <form [formGroup]="formu" style="display: contents;">
                <a (click)="addItem()" class="room-button-info create-room-button">Crear Planes</a>
                <div #cards formArrayName="items" *ngFor="let e of formu.value.items; let i = index ; let last = last; trackBy:trackByIndex" class="div-room">
                    <div class="room-img">
                        <input type="file" (change)="onSelectedImg($event, e)" #photoInput style="display: none;">
                        <p (click)="photoInput.click()" class="change-img">SUBIR IMAGEN</p>
                        <img class="home-page-img" appInputListener (onInput)="fixInput()" src="{{e.image}}" width="100%" height="200px">
                    </div>
                    <div id="div-line"> </div>
                    <div class="room-info" [formGroupName]="i">
                        <input formControlName="name"
                        appInputOnlyListener (onInputOnly)="sendInfo($event, i)"
                        type="text" class="text-area-we-info" value="{{e.name}}">
                        <textarea formControlName="description"
                        appInputOnlyListener (onInputOnly)="sendInfo($event, i)"
                        appInputListener (onInput)="onInputText($event)"
                        class="text-area-we-info">{{e.description}}</textarea>
                    </div>
                    <div class="room-button">
                        <a (click)="delete(i)" class="room-button-info erase">BORRAR</a>
                    </div>
                </div>
            </form>
            <p class="last-change" *ngIf="last_change_time">{{last_change_time}}</p>
        </ng-template>
    </ng-template>

    <ng-template #elseBlock>
        <div #cards *ngFor="let e of info; let last = last" class="div-room">
            <div class="room-img">
                <img class="home-page-img" src="{{getUrl(e.image_id)}}" width="100%" height="200px">
            </div>
            <div id="div-line"> </div>
            <div class="room-info">
                <p class="room-info-text">{{e.name}}</p>
                <pre class="room-info-text">{{e.description}}</pre>
            </div>
        </div>
    </ng-template>
</div>