/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --color-caracteristico: rgb(0, 63, 99);
}

p,
pre,
textarea,
label {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #505050;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 31px;
  color: #3e3f46;
}

ul,
li {
  display: inline;
  width: 100%;
}

li {
  margin: 5%;
}

img {
  vertical-align: middle;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.div-our-instalations {
  width: 100%;
  background: var(--color-caracteristico);
  justify-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.our-instalations {
  text-align: center;
}

.our-instalations-text {
  margin: 20px;
  color: white;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0%;
}

.column {
  text-align: center;
  float: left;
  width: 50%;
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.home-page-img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.last-change {
  position: fixed;
  left: 11.4%;
  background-color: #eaac3983;
  padding: 0.5%;
  color: #003f63e8;
  margin-top: 0px;
  top: 0%;
  border-bottom-right-radius: 14px;
}

.change-img {
  margin-top: 0%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 6vw;
  color: #00000000;
  cursor: pointer;
  visibility: hidden;
}

.change-img:hover {
  background: rgba(0,0,0,.5);
  color: #acacac;
}

@media screen and (max-width: 768px) {
  .our-instalations-text {
    margin: 10px;
    font-size: 1em;
  }

  .column{
    width: 100%;
    max-width: 100%;
  }
}