.container {
  background-color: #DBEBFF;
  display: flex;
  justify-content: center;
  margin: -0.5em;
}

#main-content {
  background-color: white;
  width: 77.1%;
  border-radius: 14px;
  height: auto;
  margin-top: 0.5em;
  margin-inline: 0.5em;
}