/* =============================== CONTENT ===============================*/
#top-div-img {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.div-we {
  margin-top: 5%;
  width: 50%;
  background-color: #9b9b9b;
}

.div-we-text {
  color: var(--color-caracteristico);
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 20px;
}

.text-area-we-info,
.div-we-info {
  width: 80%;
  text-align: justify;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5em;
  color: var(--color-caracteristico);
}

.text-area-we-info {
  overflow-y: hidden;
  border: none;
  resize: none;
  outline: none;
  background-color: #00000000;
}

.text-area-we-info:hover {
  background-color: #0000000f;
}

#content-info {
  margin-top: 2%;
}

.row {
  width: unset;
  margin: unset;
}

.column{
  align-items: center;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}