<div id="content">
    <div id="div-our-instalations">
        <div id="our-instalations">
            <p id="our-instalations-text">Habitaciones</p>
        </div>
    </div>

    <ng-template *ngIf="loggedIn; then thenBlock else elseBlock"></ng-template>

    <ng-template #thenBlock>
        <ng-template *ngIf="form; then thenBlock2"></ng-template>
        <ng-template #thenBlock2>
            <form [formGroup]="form" style="display: contents;">
                <a (click)="addItem()" class="room-button-info create-room-button">Crear Habitaciones</a>
                <div #cards formArrayName="items" *ngFor="let e of form.value.items; let i = index ; let last = last; trackBy:trackByIndex" class="div-room">
                    <div class="room-img">
                        <img class="home-page-img" src="{{e.image}}" width="100%" height="200px">
                    </div>
                    <div id="div-line"> </div>
                    <div class="room-info" [formGroupName]="i">
                        <div class="row">
                            <p class="room-info-text no-bottom">Habitación:</p>
                            <input formControlName="name" type="text" class="text-area-we-info no-margin no-bottom less-width-x2">
                        </div>
                        <div class="row">
                            <p class="room-info-text no-bottom">costo:</p>
                            <input formControlName="cost" type="text" class="text-area-we-info no-margin no-bottom less-width-x2">
                        </div>
                        <div class="row">
                            <p class="room-info-text no-bottom">Adultos:</p>
                            <input formControlName="adults" appInputListener (onInput)="restartText($event)" type="text" class="text-area-we-info no-margin no-bottom less-width-x1">
                            &emsp;&nbsp;&nbsp;
                            <p class="room-info-text no-bottom">Niños:</p>
                            <input formControlName="children" appInputListener (onInput)="restartText($event)" type="text" class="text-area-we-info no-margin no-bottom less-width-x1">
                        </div>
                        <textarea formControlName="description" appInputListener (onInput)="onInputText($event)" class="text-area-we-info more-width"></textarea>
                    </div>
                    <div class="room-button">
                        <a (click)="delete(i)" class="room-button-info erase">BORRAR</a>
                    </div>
                </div>
            </form>
        </ng-template>
    </ng-template>

    <ng-template #elseBlock>
        <div #cards  *ngFor="let e of info; let last = last" class="div-room">
            <div class="room-img">
                <img class="home-page-img" src="{{e.image}}" width="100%" height="200px">
            </div>
            <div id="div-line"> </div>
            <div class="room-info">
                <div class="row">
                    <p class="room-info-text no-bottom">Habitación:</p>
                    <p class="room-info-text no-margin no-bottom">{{e.name}}</p>
                </div>
                <div class="row">
                    <p class="room-info-text no-bottom">costo:</p>
                    <p class="room-info-text no-margin no-bottom">{{e.cost}}</p>
                </div>
                <div class="row">
                    <p class="room-info-text no-bottom">Adultos:</p>
                    <p class="room-info-text no-margin no-bottom">{{e.adults}}</p>
                    &emsp;&nbsp;&nbsp;
                    <p class="room-info-text no-bottom">Niños:</p>
                    <p class="room-info-text no-margin no-bottom">{{e.children}}</p>
                </div>
                <pre class="room-info-text more-width">{{e.description}}</pre>
            </div>
            <div class="room-button">
                <a (click)="confirm(e.name)" class="room-button-info">RESERVA AHORA</a>
            </div>
        </div>
    </ng-template>

</div>


<!-- <ng-template *ngIf="loggedIn ? fillForm2('ho', '') : false"></ng-template> -->